<div class="component user_tab">
<div class="profile-pane">
  <div class="profile-basics clearfix">
    <div class="profile-text">
        <a href="user online link">
          <img src="{{user.profile_image_url|weibo_big_image}}" width="180" class="thumb"/>
        </a>
        <div class="full-name">
           <h2>{{user.screen_name}}</h2> 
		   {% if user.verified %}
		   <span class="verified-icon"></span>
		   {% /if %}
        </div>
        <div class="screen-name-and-location">
          <a href="" class="screen-name pill"><strong>@{{user.screen_name}}</strong> <span>view full profile →</span></a>
        </div>
      	<div class="location">{{user.location}}</div>
    </div>
    
    <div class="user-info">
      <span class="bio">{{user.description}}</span> 
      {% if user.url notequalsstring "http://1" %}
		<a href="{{user.url}}" target="_blank">{{user.url}}</a>
	  {% /if %}
    </div>
    <ul class="user-stats clearfix">
	<li><a class="user-stats-count" href="weibo://timeline?screen_name={{user.screen_name}}&page=1">{{user.statuses_count}}<span class="user-stats-stat">Tweets</span></a></li>
    <li><a class="user-stats-count" href="weibo://friends?screen_name={{user.screen_name}}&cursor=-1">{{user.friends_count}}<span class="user-stats-stat">Following</span></a></li>
    <li><a class="user-stats-count" href="weibo://followers?screen_name={{user.screen_name}}&cursor=-1">{{user.followers_count}}<span class="user-stats-stat">Followers</span></a></li>
  </ul>
  </div>
</div>
  
  </div><hr class="component-spacer"></div>
  <div class="user-header"></div>
  <div id="user_content">
  </div>