body {
font: normal normal normal 13px/1.5 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

.profile-pane .full-name h2 {
color: #333;
display: inline;
font-size: 20px;
font-weight: bold;
margin: 0px 0px 3px;
padding: 0px;
}

.component {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
img[width=128] {
width: 128px;
}
.profile-pane .profile-basics {
background: white;
display: block;
padding: 15px 20px;
}
.profile-pane .profile-text {
height: 73px;
}

.profile-pane {
line-height: 17px;
}

.profile-pane {
line-height: 17px;
}

.profile-pane img {
height: 72px;
width: 72px;
}
.profile-basics img {
float: left;
margin-right: 10px;
}
.profile-pane div.full-name {
display: inline-block;
padding-bottom: 2px;
}

.screen-name-and-location {
font-size: 12px;
padding: 2px 0px;
}

.pill {
font-size: 16px;
font-weight: bold;
margin-right: 2px;
padding: 2px 0px;
}

.profile-pane .user-info {
clear: both;
display: block;
font-size: 13px;
margin-top: 10px;
}

.profile-pane .user-stats {
margin: 10px 0px 0px;
}

.user-stats li:first-child {
border-left: 0px;
padding-left: 1px;
}


.user-stats li:last-child {
border-right-width: 0px;
}

.user-stats li {
border-left: 1px solid rgba(255, 255, 255, 0.296875);
border-right: 1px solid rgba(0, 0, 0, 0.0976562);
float: left;
margin-left: 0px;
overflow: hidden;
padding: 0px 12px;
}
li {
display: list-item;
}

.user-stats-count {
color: #444;
display: block;
font-size: 15px;
font-weight: bold;
line-height: 1;
}

.user-stats-stat {
clear: both;
display: block;
font-size: 11px;
font-weight: normal;
padding: 3px 0px;
}

.profile-actions {
-webkit-box-shadow: white 0px 1px 0px;
background: #F4F4F4;
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
clear: both;
display: block;
height: 28px;
margin: 0px 10px 15px;
padding: 8px 10px;
}

.clearfix::after {
clear: both;
content: '. ';
display: block;
height: 0px;
line-height: 0;
visibility: hidden;
}

.component {
margin-bottom: 0px;
}

.profile-actions .buttons {
float: right;
font-size: 0px;
}

.profile-actions .buttons .button {
margin: 0px 0px 0px 5px !important;
}

.button {
background: #DDD url(http://a2.twimg.com/a/1295903943/phoenix/img/buttons/bg-btn.gif) repeat-x 0px 0px;
border-color: #BBB #BBB #999;
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-style: solid;
border-width: 1px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
color: #333 !important;
cursor: pointer;
display: inline-block;
font: normal normal normal 12px/15px 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
margin: 0px;
overflow: hidden;
padding: 5px 9px;
text-shadow: #F0F0F0 0px 1px;
}


.button {
color: #333 !important;
cursor: pointer;
font: normal normal normal 12px/15px 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
text-shadow: #F0F0F0 0px 1px;
}


.drop-down-container {
display: inline;
position: relative;
vertical-align: bottom;
z-index: 9999;
}

.button .gear {
background-position: -32px -64px;
margin-bottom: 1px;
margin-left: 0px;
margin-right: -2px;
}

.button span {
background-image: url(http://a2.twimg.com/a/1295903943/phoenix/img/sprite-icons.png);
background-repeat: no-repeat;
display: inline-block;
height: 13px;
margin-bottom: 2px;
outline: medium none;
overflow: hidden;
vertical-align: bottom;
width: 13px;
}

.button .down-arrow {
background-position: -47px -64px;
margin: 0px -1px 0px 3px;
width: 7px;
}

.button span {
background-image: url(http://a2.twimg.com/a/1295903943/phoenix/img/sprite-icons.png);
background-repeat: no-repeat;
display: inline-block;
height: 13px;
margin-bottom: 2px;
outline: medium none;
overflow: hidden;
vertical-align: bottom;
width: 13px;
}


.profile-actions .follow-state {
display: inline-block;
float: left;
margin-right: 8px;
}

.profile-unfollow-link, .unfollow-list-button {
background-color: #00AE3E;
background-image: url(http://a2.twimg.com/a/1295903943/phoenix/img/bg-btn-follow.png);
border-color: #393 #393 #277827;
color: white !important;
text-shadow: #272 -1px -1px 0px;
}

.profile-unfollow-link {
padding-left: 4px;
}

.profile-unfollow-link, .unfollow-list-button {
background-color: #00AE3E;
background-image: url(http://a2.twimg.com/a/1295903943/phoenix/img/bg-btn-follow.png);
border-color: #393 #393 #277827;
color: white !important;
text-shadow: #272 -1px -1px 0px;
}

.profile-unfollow-link .you-follow {
margin-left: 0px;
margin-right: 6px;
padding-left: 0px;
padding-top: 0px !important;
width: 15px;
}

.button .you-follow {
background-position: -288px -96px;
height: 12px;
margin-bottom: 1px;
margin-top: 0px;
width: 15px;
}

.profile-unfollow-link em {
display: inline-block;
font-style: normal;
position: relative;
}

.button span {
background-image: url(http://a2.twimg.com/a/1295903943/phoenix/img/sprite-icons.png);
background-repeat: no-repeat;
display: inline-block;
height: 13px;
margin-bottom: 2px;
outline: medium none;
overflow: hidden;
vertical-align: bottom;
width: 13px;
}

.profile-unfollow-link b.unfollow {
display: none;
left: 0px;
position: absolute;
top: 0px;
visibility: hidden;
z-index: 1;
}

.profile-unfollow-link {
padding-left: 4px;
}

a {
color: #2D76B9;
text-decoration: none;
}

hr.component-spacer {
display: none;
}

#front-container, #page-container {
text-align: left;
}

.verified-icon {
background-image: url(verified.png);
height: 23px;
width: 23px;
display: inline-block;
vertical-align: top;
}
