body {
background: #f4f4f4;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
height: 100%;
line-height: 14px;
margin: 0px;
padding: 0px;
width: 100%;
}

.macLeftNavButton {
  padding: 4px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: xx-small;
  text-decoration: none;
  border-left: 12px;
  border-right: 3px;
width:40px;
  color: white;
-webkit-border-image: url("black-button-left.png") 0 3 0 12;

 }


.macLeftNavButton:hover:active {
  padding: 5px 3px 3px 5px;
}


.menu_content {
width: 100%;
}

.nav_info_panel {
-webkit-user-select: none;
background: #f4f4f4;
border-bottom: 1px solid #A4ACBC;
width: 100%;
}

.profile_pic_wrapper {
float:left;
margin-left: 10px;
margin-top: 10px;
-webkit-border-radius: 4px;
-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}
.profile_pic_wrapper img {
	width: 50px;
	height:50px;
-webkit-border-radius: 4px;

}

.nav_info_panel .info {
margin-left:6px;
margin-top:2px;
float:left;
min-height:70px;
color: #475366;
font-size: 14px;
font-weight: bold;
line-height: 20px;
text-overflow: ellipsis;
text-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 1px;
top: 10px;
width:80%
}

.nav_info_panel .info a:link, a:visited, a:active {
color: #636A86;
text-decoration: none;
}
.nav_info_panel .info a:hover{
text-decoration:underline
}

.nav_info_panel .info .item{
	margin-top:2px;
	margin-bottom:2px;
	font-weight:normal;
	font-size:12px;	
}
.nav_info_panel .info .icon{
float:left;
padding-right:6px;
padding-top:2px;
}

.nav_info_panel .seperator {
-webkit-box-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 1px;
background: #B7BECD;
height: 1px;
left: 1px;
right: 1px;
clear:both;
}
.nav_info_panel .stats {
height: 40px;
/*position: absolute;
top: 85px;*/
width: 100%;
}
.nav_info_panel .stat:first-child {
border-left-width: 0px !important;
width: 95px;
}
.nav_info_panel .stat .value {
color: #2A395D;
font-size: 14px;
font-weight: bold;
height: 16px;
line-height: 16px;
/*position: absolute;*/
text-align: center;
text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px;
top: 4px;
width: 100%;
}
.nav_info_panel .stat {
border-left: 1px solid #EBEDF1;
border-right: 1px solid #D2D8E7;
cursor: pointer;
float: left;
height: 40px;
position: relative;
width: 96px;
}

.nav_info_panel .stat .type {
bottom: 4px;
color: #767C87;
font-size: 11px;
height: 16px;
line-height: 16px;
position: absolute;
text-align: center;
text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px;
width: 100%;
}
.nav_info_panel .stat {
cursor: pointer;
}
.nav_info_panel .stat:last-child {
border-right-width: 0px !important;
width: 95px;
}
.list_section {
overflow: hidden;
position: relative;
}
.list_section > .drop_border {
display: none;
}
.list_heading {
-webkit-user-select: none;
background-image: url(nav_bg.png);
border-bottom: 1px solid #858FA1;
/*background-position: 0px -34px;*/
height: 28px;
position: relative;
width: 100%;
}
.path_heading {
-webkit-user-select: none;
background-image: url(path_bg.png);
border-bottom: 1px solid #858FA1;
/*background-position: 0px -34px;*/
height: 28px;
position: relative;
width: 100%;
}
.list_heading.is_collapsible > .title {
right: 34px;
}
.list_heading > .title {
height: 28px;
left: 10px;
line-height: 28px;
position: relative;
right: 10px;
}
.list_section > .list_items_wrapper {
overflow: hidden;
}