<html>
<head>

<link rel="stylesheet" type="text/css" href="user.css"/> 
</head>
<body>

<div class="menu_content">

<div class="list_section ">

<div class="path_heading open is_collapsible">
<div class="path_text">Home</div><div class="sep"><img src="sep.png"/></div><div class="path_text">User</div>
<div class="action_20 collapsed"><div class="bg"></div></div>
</div>

<div class="nav_info_panel has_stats">

<div class="profile_pic_wrapper size60"><img class="profile_pic" src="{{user.profile_image_url}}" title="kejin lu"></div>
<div class="info">
{% if user.verified %}
<img src="v.png"/>
{% /if %}
{{user.screen_name}}
{% if user.url notequalsstring "http://1" %}
<div class="item"><div class="icon"><img src="blog.png"/></div>
<a href="{{user.url}}" target="_blank">{{user.url}}</a>
</div>
{% /if %}
<div class="item">
<div class="icon"><img src="star.png"/></div>
{{user.description}}
</div>

</div>

<div class="seperator"></div>


<div class="stats">

<div class="stat">
<div class="value">{{user.statuses_count}}</div>
<div class="type">Updates</div>
</div>

<div class="stat">
<div class="value">{{user.followers_count}}</div>
<div class="type">Followers</div>
</div>
<div class="stat">
<div class="value">{{user.friends_count}}</div>
<div class="type">Following</div>
</div>


<div class="stat">
<div class="value">{{user.favourites_count}}</div>
<div class="type">Favorites</div>
</div>


</div>

</div>


<div class="list_section ">

<div class="drop_border"></div>
<div class="list_heading open is_collapsible">
<div class="title dark2 t-13 tw-b">Updates</div>
<div class="action_20 collapsed"><div class="bg"></div></div>
</div>

<div class="list_items_wrapper"><div class="list_items"></div></div>

</div>

</div></div>
</body>
</html>
